numpy==1.19.4
tensorflow-gpu==2.0.0
matplotlib
joblib
keras==2.1.6
plotly==4.5.2
sqlalchemy
flask
python-dotenv
flaskcode
pandas
hiplot
dash
h5py==2.10.0
termcolor
pytz
sklearn
scipy
dash_bootstrap_components
aisy-sca==0.1.8
aisy-database==0.1.0
