<!-- Sidebar -->
<ul class="navbar-nav bg-gray-800 sidebar sidebar-dark accordion fixed-top" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">AISY Framework</sup></div>
    </a>

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for( 'scripts') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Scripts</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('table') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Databases</span></a>
    </li>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('datasets') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Datasets</span></a>
    </li>

</ul>
<!-- End of Sidebar -->